In [1]:
# importing setup
import pathlib as path
import csv
import os
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [31]:
# importing the data from csv files
mouse_meta_data = pd.read_csv("Mouse_metadata.csv")
study_results = pd.read_csv("Study_results.csv")

# merging data into one df
df_complete_data = pd.merge(mouse_meta_data, study_results, how = "left", on = ["Mouse ID"])
df_complete_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [36]:
# counting the number of mice in the data frame
df_complete_data["Mouse ID"].nunique()

249

In [32]:
#checking to see if any missing data is present
df_complete_data.isnull().mean()

Mouse ID              0.0
Drug Regimen          0.0
Sex                   0.0
Age_months            0.0
Weight (g)            0.0
Timepoint             0.0
Tumor Volume (mm3)    0.0
Metastatic Sites      0.0
dtype: float64

In [33]:
# checking to see if there are any duplicates in the data frome and printing it 
duplicates = df_complete_data[df_complete_data.duplicated(subset=['Mouse ID', 'Timepoint'])]
duplicates

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [39]:
# dropping the duplicated mouse form the data frame
duplicate_mouse = "g989"
rows_dropped = df_complete_data[df_complete_data["Mouse ID"] == duplicate_mouse].index

#creating the cleaned df without the duplicated data
df_complete_data = df_complete_data.drop(rows_dropped)

In [49]:
# comparing the number of mice to the starter code to verify the duplicated data is dropped
df_complete_data["Mouse ID"].nunique()

248

In [54]:
# displaying the cleaned data
df_cleaned_data.sort_values(by=['Mouse ID', 'Timepoint'], inplace = True)

In [55]:
df_cleaned_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
454,a203,Infubinol,Female,20,23,0,45.000000,0
455,a203,Infubinol,Female,20,23,5,48.508468,0
456,a203,Infubinol,Female,20,23,10,51.852437,1
457,a203,Infubinol,Female,20,23,15,52.777870,1
458,a203,Infubinol,Female,20,23,20,55.173336,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4